<!-- Sobre nós Section -->
<section class="container text-center">
    <h2 class="display-4">Sobre Nós</h2>
    <p class="lead">Conheça nossa história e o que nos torna especiais.</p>
    <div class="container d-flex justify-content-center text-center">
        <div class="quadro-aboutus">
            <p class="quadro-aboutus-text lead">
                <strong>Há 50 anos, o Buffalos Steakhouse é referência em carnes de alta qualidade.
                 O diferencial? Nós cuidamos de todo o processo, desde a criação dos nossos
                  próprios bois até a preparação dos pratos. Nossa receita secreta de <i>Tartar
                    de Carne Fresco</i>, criada pelo fundador <a href="https://pt.wikipedia.org/wiki/Freddie_Mercury" target="_blank">Freddie Mercury</a>, é um clássico que conquista 
                   gerações. No Buffalos, tradição e sabor se encontram para oferecer 
                   uma experiência gastronômica única. Venha nos conhecer e descobrir 
                   o que nos torna especiais!</strong>
            </p>
            <img class="quadro-aboutis-logo">
        </div>
    </div>
</section>