<!-- Cardápio Section -->
<section class="container text-center">
    <h1 class="display-4">Descubra o que torna a Buffalo's única</h1>
    <h2 class="lead">Acesse nosso cardápio</h2>
    <div class="row justify-content-center">
        <div class="col-lg-3 col-md-4 col-sm-6 mb-2 mx-1 cardapio-item">
            <img class="cardapio-img" src="/img/carne1-cardapio.jpg" alt="Frango Grelhado">
            <h5>Bife à Parmegiana</h5>
            <p>Tradicional bife à milanesa coberto com queijo, acompanhado de batata frita.</p>
            <p class="price">R$ 84,90</p>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-2 mx-1 cardapio-item">
            <img class="cardapio-img" src="/img/carne2-cardapio.jpg" alt="Bife à Parmegiana">
            <h5>Frango Grelhado</h5>
            <p>Frango suculento grelhado com ervas finas e servido com arroz e salada.</p>
            <p class="price">R$ 84,90</p>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-2 mx-1 cardapio-item">
            <img class="cardapio-img" src="/img/carne3-cardapio.jpg" alt="Tartar de Carne">
            <h5>Tartar de Carne</h5>
            <p>Tartar de carne fresco, temperado com alho e ervas.</p>
            <p class="price">R$ 84,90</p>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-2 mx-1 cardapio-item">
            <img class="cardapio-img" src="/img/carne1-cardapio.jpg" alt="Costela no Bafo">
            <h5>Costela no Bafo</h5>
            <p>Costela bovina assada lentamente, acompanhada de mandioca cozida.</p>
            <p class="price">R$ 84,90</p>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-2 mx-1 cardapio-item">
            <img class="cardapio-img" src="/img/carne1-cardapio.jpg" alt="Frango Grelhado">
            <h5>Bife à Parmegiana</h5>
            <p>Tradicional bife à milanesa coberto com queijo, acompanhado de batata frita.</p>
            <p class="price">R$ 84,90</p>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-2 mx-1 cardapio-item">
            <img class="cardapio-img" src="/img/carne2-cardapio.jpg" alt="Bife à Parmegiana">
            <h5>Frango Grelhado</h5>
            <p>Frango suculento grelhado com ervas finas e servido com arroz e salada.</p>
            <p class="price">R$ 84,90</p>
        </div>
    </div>
</section>