<%- include('./partials/head') %>
<body>
    <header id="navbar" class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Buffalo's</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Início</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Cardápio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Reservas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contato</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <main>
        <!-- Carousel -->
    <div id="carouselExampleIndicators" class="carousel slide carousel-resize" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/img/carne-1-carrousel.jpg" class="d-block w-100" alt="Carne 1">
            </div>
            <div class="carousel-item">
                <img src="/img/carne-carrousel.jpg" class="d-block w-100" alt="Carne 0">
            </div>
            <div class="carousel-item">
                <img src="/img/carne-2-carrousel.jpg" class="d-block w-100" alt="Carne 2">
            </div>
        </div>
        <!-- Controles (setas) -->
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Próximo</span>
        </button>
    </div>


        <!-- Hero Section -->
        <section class="hero text-center">
            <h1 class="display-4">A melhor churrascaria de Brasília!</h1>
            <p class="lead">Faça sua reserva pelo nosso site</p>

            <button type="button" class="btn btn-dark">Reserva</button>
        </section>

        <!-- Cardápio Section -->
        <section id="teste" class="text-center">
            <h1 class="display-4">Descubra o que torna a Buffalo's única</h2>
            <h2 class="lead">Acesse nosso cardápio</h2>
            <div id="cardapio" class="row">
                <div id="cardapio-item" class="col-md-4 cardapio-item">
                    <h5>Frango Grelhado</h5>
                    <p>Frango suculento grelhado com ervas finas e servido com arroz e salada.</p>
                    <p class="price">R$ 29,90</p>
                </div>
                <div id="cardapio-item" class="col-md-4 cardapio-item">
                    <h5>Bife à Parmegiana</h5>
                    <p>Tradicional bife à milanesa coberto com queijo e molho de tomate, acompanhado de arroz e batata frita.</p>
                    <p class="price">R$ 34,90</p>
                </div>
                <div id="cardapio-item" class="col-md-4 cardapio-item">
                    <h5>Risoto de Camarão</h5>
                    <p>Risoto cremoso com camarões frescos, temperado com alho e ervas.</p>
                    <p class="price">R$ 45,00</p>
                </div>
            </div>
        </section>

        <!-- Sobre nós Section -->
        <section class="container text-center">
            <h2 class="display-4">Sobre Nós</h2>
            <p class="lead">Conheça nossa história e o que nos torna especiais.</p>
        </section>
    </main>

    

    <%- include('./partials/footer') %>
</body>
</html>