
/* FORMULARIO DE RESERVA */
.reservation-form {
    width: 100%;
    max-width: 500px; 
    background-color: white; 
    border-radius: 10px; 
}

shadow-lg {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}
  
.vh-100 {
    height: 100vh; 
}

.carousel-item img {
    height: 500px; 
    object-fit: cover;
}

/* QUADRO DE INFORMACOES */

.quadro-info-outer {
    width: 100%; /* Fundo com largura total */
    background-color: #bb6819; /* Cor de fundo */
    padding: 2rem 0; /* Espaçamento vertical */
}

.quadro-info {
    display: flex;
    max-width: 1200px; /* Limita a largura do conteúdo */
    margin: 0 auto; /* Centraliza o conteúdo */
    flex-direction: row; /* Colunas lado a lado */
    align-items: center;
}

.quadro-img {
    flex: 1; /* Primeira coluna para imagem */
    padding-right: 2rem; /* Espaçamento à direita da imagem */
}

.quadro-img img {
    width: 100%; /* A imagem ocupa 100% da largura da coluna */
    height: auto;
    border-radius: 15px;
}

.quadro-text {
    flex: 1; /* Segunda coluna para o texto */
    color: #fff; /* Texto branco */
}


/* CARDAPIO */
.cardapio-item {
    border: 2px solid black;
    padding: 1rem;
    text-align: center;
    border-radius: 5px
}

.cardapio-img {
    object-fit: cover;
    width: 100%;
    height: 9.375em;
    margin-bottom: 0.5rem;
}

.price {
    font-weight: bold;
    font-size: 1.2rem;
    color: green;
}

/* ABOUSTS*/

.quadro-aboutus{
    max-width: 80%;
    background-color: #bb6819;
    max-height: 25rem;
    border-radius: 50px;
}

.quadro-aboutus-text{
    padding: 3.5rem;
    color: aliceblue;
    align-items: center;
}
.quadro-aboutus-text a{
    color: aliceblue;
} 
.quadro-aboutus-text a:hover{
    background-color: red;
} 
