
/* FORMULARIO DE RESERVA */
.reservation-form {
    width: 100%;
    max-width: 500px; 
    background-color: white; 
    border-radius: 10px; 
}

shadow-lg {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}
  
.vh-100 {
    height: 100vh; 
}

.carousel-item img {
    height: 500px; 
    object-fit: cover;
}


/* CARDAPIO */
#cardapio{
    display: inline-block;
    justify-content: flex-start;
    flex-wrap: wrap
}

#cardapio-item{
    padding: 5%;
    margin: 1%;
    border: 2px solid black;
}